body
{
	background-color: gainsboro;
    column-fill: balance;
}
	.tab
	{
		border-spacing: 25px;
	    column-fill: balance;
	    column-gap: 6px;
	    border-collapse:separate;
	    background-color: whitesmoke;
	}
	.inputText{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    input[type = submit] , input[type = button]
    {
    	padding: 10px 15px;
            font-size: 14px;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: #fff;
            background-color: #4CAF50;
            border: none;
            border-radius: 15px; 
    }
    .ipb:active
    {
    	background-color: #3e8e41;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
    }
    .ipb:hover
    {
    	background-color: #3e8e41
    }